body {
    background: url('../images/laptop.jpg') no-repeat fixed;
    background-size: cover;
    font: 1.8em "century gothic", sans-serif;
    color: rgb(61, 52, 100);
}

a {
    color: rgb(39, 145, 181);
    text-decoration: none;
}

h1, h1 a {
    text-transform: uppercase;
    letter-spacing: 8px;
    color: rgb(0,0,0);
}

h2 {
    font-size: 1.5em;
    color: rgb(49, 119, 111);
    /* border-bottom: 1px dotted rgb(49, 119, 111); */
    text-align: center;
    padding: 1px;
    margin: 2px;
}

h3 {
    color: rgb(128, 128, 128);
}

h2, h3 {
    font-weight: lighter;
}

ul {
    list-style-type: square;
}

li {
    margin: 12px;
}

input, textarea, select, option {
    font: 1em "century gothic", sans-serif;
    background: rgb(181, 217, 226);
    color: rgb(0,0,0);
    border: 1px solid rgb(60, 147, 136);
    border-radius: 8px;
    opacity: 0.6;
}

.formgroup input, .formgroup select {width: 100%;}

label {width: 27%;}

table {
    background: rgba(190, 190, 190, 0.3);
    border-radius: 25px;
    width: 90%;
    margin: 16px;
    padding: 10px;
}

th {
    text-align: center;
    letter-spacing: 6px;
    color: rgb(68, 57, 48);
}

tr {
    height: 2em;
}


section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 30px;
    padding: 10px;
}

div, div ul {
    margin: 0;
    padding: 0;
}

#navigation {
    width: 24%;
    float: left;
    position: fixed;
}

#content {
    width: 70%;
    float: right;
}

.category {
    width: 27%;
}

#submit {
    width: 30%;
    margin-left: 15px;
}

#search-results {
    margin-top: 40px;
    border-top: 1px solid rgb(190, 190, 190);
}
