@model TechJobs.ViewModels.JobFieldsViewModel

<h2>@Model.Title</h2>

<ul>
@foreach (var field in Model.Fields)
{
    <li><a asp-controller="List" 
               asp-action="Jobs" 
               asp-route-column="@Model.Column" 
               asp-route-value="@field.Value">@field.Value</a>
    </li>  
}   
</ul>
