<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TechJobs :: @ViewData["title"]</title>

    <environment names="Development">
        <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" /> -->
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
               <h1> <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">TechJobs</a></h1>
           
            <section id="navigation">
                <h2>Navigation</h2>
                <ul>

                    <li><a asp-controller="Search" asp-action="Index">Search Jobs</a></li>
                    <li><a asp-controller="List" asp-action="Index">Jobs by List</a></li>
                    <li><a asp-controller="Job" asp-action="New">Create New Job</a></li>
                </ul>
            </section>
       
    <section id="content">
        @RenderBody()
    </section>

</body>
</html>
